{% extends 'base.html' %}

{% block title %}Binary Search{% endblock %}

{% block content %}
  <form action="/" method="get">
    <fieldset>
      <legend>Question 1: <br /> What is .....? </legend>
      <label for="">
        <input type="radio" name="question1" value="option1"> Option A
      </label>
      <label for="">
        <input type="radio" name="question1" value="option2"> Option B
      </label>
    </fieldset>
  
    <fieldset>
      <legend>Question 2</legend>
      <label for="">
        <input type="radio" name="question2" value="option1"> Option A
      </label>
      <label for="">
        <input type="radio" name="question2" value="option2"> Option B
      </label>
    </fieldset>
  
    <fieldset>
      <legend>Question 3</legend>
      <label for="">
        <input type="text" name="question3" value="Enter Answer"> 
      </label>
    </fieldset>
    
    <button type="submit">Submit</button>
  </form>

{% endblock %}