{% extends 'base.html' %}

{% block title %}Category Quizzes{% endblock %}

{% block content %}
  <h3>Take a look at the book to review:</h3>
  <p>
    <a href="https://edu.anarcho-copy.org/Algorithm/grokking-algorithms-illustrated-programmers-curious.pdf" 
    target="_blank">Grokking Algorithm</a></p>
  <h1>Pick a Quiz:</h1>
  <ul>
    <a href="#"><li>Introduction to Algorithms</li></a>
    <a href="/selection_sort"><li>Selection Sort</li></a>
    <a href="#"><li>Recursion</li></a>
    <a href="/quicksort_quiz"><li>Quicksort</li></a>
    <a href="/hash_tables_quiz"><li>Hash Tables</li></a>
    <a href="/ch1_ch5"><li>Ch.1 - Ch.5 Quiz</li></a>
    <a href="/breadth_first_search_quiz"><li>Breadth-First Search</li></a>
    <a href="/dijkstra_algo_quiz"><li>Dijkstra's Algorithm</li></a>
    <a href="/quicksort_quiz"><li>Quicksort</li></a>
    <a href="#"><li>Greedy Algorithm</li></a>
    <a href="#"><li>Dynamic Programming</li></a>
    <a href="#"><li>K-Nearest Neighbors</li></a>
  </ul>

{% endblock %}