{% extends 'base.html' %}

{% block title %}Category - Study{% endblock %}

{% block content %}
  <h1>Pick a Category:</h1>
  <ul>
    <a href="/binarySearch"><li>Introduction to Algorithms</li></a>
    <a href="/selectionsort"><li>Selection Sort</li></a>
    <a href="/recursion"><li>Recursion</li></a>
    <!-- Dropdown for Quicksort -->
    <li class="dropdown">
      <span>Quicksort ▼</span>
      <ul class="dropdown-content">
        <li><a href="/quicksortNotes">Review Quicksort</a></li>
        <li><a href="/quicksortQuiz">Quicksort Quiz</a></li>
      </ul>
    </li>
    <!-- Dropdown for Hash Tables -->
    <li class="dropdown">
      <span>Hash Tables ▼</span>
      <ul class="dropdown-content">
        <li><a href="/hashTablesNotes">Review Hash Tables</a></li>
        <li><a href="/hashTablesQuiz">Hash Tables Quiz</a></li>
      </ul>
    </li>
    <!-- Dropdown for Ch.1 - Ch.5 -->
    <li class="dropdown">
      <span>Ch.1 - Ch.5 Quiz ▼</span>
      <ul class="dropdown-content">
        <li><a href="/ch1_ch5">Ch.1 - Ch.5 Quiz</a></li>
      </ul>
    </li>
    <a href="#"><li>Breadth-First Search</li></a>
    <a href="#"><li>Dijkstra's Algorithm</li></a>
    <a href="#"><li>Greedy Algorithm</li></a>
    <a href="#"><li>Dynamic Programming</li></a>
    <a href="#"><li>K-Nearest Neighbors</li></a>
  </ul>

{% endblock %}