{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
  <h1 class="text-3xl font-bold mb-4 text-center">Contact Us</h1>
  <p class="text-center text-lg mb-6 max-w-xl mx-auto">
    Have feedback or suggestions? We'd love to hear from you!
  </p>

    <form action="mailto:lucila.hernandezdelcarmen@students.dominican.edu" method="POST" enctype="text/plain" class="max-w-xl mx-auto space-y-6">
    <div>
      <label for="subject" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Subject</label>
      <input type="text" name="subject" id="subject" required
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
               focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 
               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
               dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Subject of your message" />
    </div>

    <div>
      <label for="body" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Your message</label>
      <textarea name="body" id="body" rows="5" required
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border 
               border-gray-300 focus:ring-blue-500 focus:border-blue-500 
               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
               dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Let us know how we can help you..."></textarea>
    </div>

    <div class="flex justify-end">
    <button type="submit"
        class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl 
            focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 
            font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2">
        Send Message
    </button>
    </div>


  </form>
{% endblock %}
