{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold mb-4 text-center">Contact Us</h1>
    <p class="text-center text-lg mb-6 max-w-xl mx-auto">Have feedback or suggestions? We'd love to hear from you!</p>

    <form onsubmit="handleEmail(event)" class="max-w-xl mx-auto space-y-6">
        <div>
            <label for="subject" class="block mb-2 text-md font-medium text-gray-900">Subject</label>
            <input type="text" id="subject" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5" placeholder="Subject of your message" required />
        </div>

        <div>
            <label for="body" class="block mb-2 text-md font-medium text-gray-900">Your message</label>
            <textarea id="body" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300" placeholder="Let us know how we can help you..." required></textarea>
        </div>

        <div class="flex justify-end">
            <button type="submit" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5">Send Message</button>
        </div>
    </form>
{% endblock %}
