{% extends 'base.html' %}

{% block title %}Dijkstra's Algorithm{% endblock %}

{% block content %}
  <form action="/submit_dijkstras_quiz" method="post">
    <fieldset>
      <legend>1. What is Dijkstra’s algorithm used for?</legend>
      <label for="question1_a">
        <input type="radio" name="question1" value="A. Finding the shortest path in a graph with negative weights" id="question1_a">
          A. Finding the shortest path in a graph with negative weights
      </label>
      <br />
      <label for="question1_b">
        <input type="radio" name="question1" value="B. Finding the longest path in a weighted graph" id="question1_b">
          B. Finding the longest path in a weighted graph
      <br />
      <label for="question1_c">
        <input type="radio" name="question1" value="C. Finding the shortest path in a graph with non-negative weights" id="question1_c">
          C. Finding the shortest path in a graph with non-negative weights
      </label>
      <br />
      <label for="question1_d">
        <input type="radio" name="question1" value="D. Sorting nodes in a graph" id="question1_d">
          D. Sorting nodes in a graph
      </label>
    </fieldset>
    <br />
    <fieldset>
      <legend>2. What data structure is typically used to track the current shortest distances to each node?</legend>
      <label for="question2_a">
        <input type="radio" name="question2" value="A. A stack" id="question2_a">
          A. A stack
      </label>
      <br />
      <label for="question2_b">
        <input type="radio" name="question2" value="B. A queue" id="question2_b">
        B. A queue
      </label>
      <br />
      <label for="question2_c">
        <input type="radio" name="question2" value="C. A hash table (dictionary)" id="question2_c">
          C. A hash table (dictionary)
      </label>
      <br />
      <label for="question2_d">
        <input type="radio" name="question2" value="D. A list" id="question2_d">
          D. A list
      </label>
    </fieldset>
    <br />
    <fieldset>
      <legend>3. What is the first step of Dijkstra’s algorithm?</legend>
      <label for="question3_a">
        <input type="radio" name="question3" value="A. Explore all neighboring nodes" id="question3_a">
          A. Explore all neighboring nodes
      </label>
      <br />
      <label for="question3_b">
        <input type="radio" name="question3" value="B. Add all nodes to the visited set" id="question3_b">
          B. Add all nodes to the visited set
      </label>
      <br />
      <label for="question3_c">
        <input type="radio" name="question3" value="C. nitialize costs and parents tables" id="question3_c">
          C. Initialize costs and parents tables
      </label>
      <br />
      <label for="question3_d">
        <input type="radio" name="question3" value="D. Sort all the edges in the graph" id="question3_d">
          D. Sort all the edges in the graph
      </label>
    </fieldset>
    <br />
    <fieldset>
      <legend>4. When does Dijkstra’s algorithm stop?</legend>
      <label for="question4_a">
        <input type="radio" name="question4" value="A. When all neighbors are visited" id="question4_a">
          A. When all neighbors are visited
      </label>
      <br />
      <label for="question4_b">
        <input type="radio" name="question4" value="B. When the end node is reached" id="question4_b">
          B. When the end node is reached
      </label>
      <br />
      <label for="question4_c">
        <input type="radio" name="question4" value="C. When the shortest path to all nodes has been determined" id="question4_c">
          C. When the shortest path to all nodes has been determined
      </label>
      <br />
      <label for="question4_d">
        <input type="radio" name="question4" value="D. When all edges are checked" id="question4_d">
          D. When all edges are checked
      </label>
    </fieldset>
    <br />
    <fieldset>
      <legend>5. Which of the following is a limitation of Dijkstra’s algorithm?</legend>
      <label for="question5_a">
        <input type="radio" name="question5" value="A. It can’t handle large graphs" id="question5_a">
          A. It can’t handle large graphs
      </label>
      <br />
      <label for="question5_b">
        <input type="radio" name="question5" value="B. It only works with directed graphs" id="question5_b">
          B. It only works with directed graphs
      </label>
      <br />
      <label for="question5_c">
        <input type="radio" name="question5" value="C. It does not work with graphs that have negative weights" id="question5_c">
          C. It does not work with graphs that have negative weights
      </label>
      <br />
      <label for="question5_d">
        <input type="radio" name="question5" value="D. It only finds approximate paths" id="question5_d">
          D. It only finds approximate paths
      </label>
    </fieldset>
    <br />
    <fieldset>
      <legend>6. Explain how Dijkstra’s algorithm determines the shortest path from a start node to a finish node. What is the role of the "costs" and "parents" tables?</legend>
      <label for="question6">
        <input type="text" name="question6" value="Explain Answer" id="question6" onfocus="this.value = ''">
      </label>
    </fieldset>
    <br />
    <button type="submit">Submit</button>
  </form>

{% endblock %}