{% extends 'base.html' %}

{% block title %}Greedy Algorithm Answers{% endblock %}

{% block content %}
  <h1>Greedy Algorithm Quiz Results</h1>
  <form action="/greedy_algo_quiz" method="get">
    <button type="submit">Retake Quiz</button>
  </form>
  <br>

  {% for question, user_answer in user_answers.items() %}
    <fieldset>
      <legend>Question {{ loop.index }}</legend>
      <p>Your Answer: {{ user_answer }}</p>
      <p> Correct Answer: <strong>{{ greedy_algo_answers[question] }}</strong></p>
    </fieldset>
  {% endfor %}
{% endblock %}