{% extends 'base.html' %}

{% block title %}Home - Study With Me{% endblock %}

{% block content %}
  <h1 class="text-2xl font-bold mb-4">Pick a Topic:</h1>
  <ul class="list-none p-0 space-y-2">
    <a href="/category" class="block">
      <li class="p-[10px] cursor-pointer hover:bg-gray-200">Grokking Algorithms Book</li>
    </a>
    <a href="#" class="block">
      <li class="p-[10px] cursor-pointer hover:bg-gray-200">Object-Oriented Programming</li>
    </a>
    <a href="#" class="block">
      <li class="p-[10px] cursor-pointer hover:bg-gray-200">React</li>
    </a>
    <a href="#" class="block">
      <li class="p-[10px] cursor-pointer hover:bg-gray-200">SQL</li>
    </a>
  </ul>
{% endblock %}
