{% extends "base.html" %}

{% block title %}Introduction to Algorithms Quiz{% endblock %}

{% block content %}
  <form action="/submit_intro_algo_quiz" method="post">
    <fieldset>
      <legend>1. How many steps (at most) does binary search need to find an item in a list of 128 elements?</legend>
      <label for="question1_a">
        <input type="radio" name="question1" value="128" id="question1_a">
        128 
      </label>
      <br />
      <label for="question1_b">
        <input type="radio" name="question1" value="64" id="question1_b">
        64
        </label>
      <br />
      <label for="question1_c">
        <input type="radio" name="question1" value="7" id="question1_c">
        7
      </label>
      <br />
      <label for="question1_d">
        <input type="radio" name="question1" value="10" id="question1_d">
        10
      </label>
    </fieldset>
    <br />
    <fieldset>
      <legend>2. What is the time complexity of simple (linear) search?</legend>
      <label for="question2_a">
        <input type="radio" name="question2" value="O(log n)" id="question2_a">
        O(log n)
      </label>
      <br />
      <label for="question2_b">
        <input type="radio" name="question2" value="O(n²)" id="question2_b">
        O(n²)
      </label>
      <br />
      <label for="question2_c">
        <input type="radio" name="question2" value="O(n)" id="question2_c">
        O(n)
      </label>
      <br />
      <label for="question2_d">
        <input type="radio" name="question2" value="O(1)" id="question2_d">
        O(1)
      </label>
    </fieldset>
    <br />
    <fieldset>
      <legend>3. Binary search only works on:</legend>
      <label for="question3_a">
        <input type="radio" name="question3" value="Unsorted lists" id="question3_a">
        Unsorted lists 
      </label>
      <br />
      <label for="question3_b">
        <input type="radio" name="question3" value="Sorted lists" id="question3_b">
        Sorted lists
      </label>
      <br />
      <label for="question3_c">
        <input type="radio" name="question3" value="Lists with unique elements" id="question3_c">
        Lists with unique elements
      </label>
      <br />
      <label for="question3_d">
        <input type="radio" name="question3" value="Lists without duplicates" id="question3_d">
        Lists without duplicates
      </label>
    </fieldset>
    <br />
    <fieldset>
      <legend>4. If you double the size of the list, how many more steps does binary search add?</legend>
      <label for="question4_a">
        <input type="radio" name="question4" value="One" id="question4_a">
        One
      </label>
      <br />
      <label for="question4_b">
        <input type="radio" name="question4" value="Two" id="question4_b">
        Two
      </label>
      <br />
      <label for="question4_c">
        <input type="radio" name="question4" value="Double the steps" id="question4_c">
        Double the steps
      </label>
      <br />
      <label for="question4_d">
        <input type="radio" name="question4" value="None" id="question4_d">
        None
      </label>
    </fieldset>
    <br />
    <fieldset>
      <legend>5. Which of the following is NOT true about binary search?</legend>
      <label for="question5_a">
        <input type="radio" name="question5" value=" It eliminates half the list each time" id="question5_a">
        It eliminates half the list each time 
      </label>
      <br />
      <label for="question5_b">
        <input type="radio" name="question5" value="It’s efficient for large datasets " id="question5_b">
        It’s efficient for large datasets 
      </label>
      <br />
      <label for="question5_c">
        <input type="radio" name="question5" value="It always checks every item" id="question5_c">
        It always checks every item
      </label>
      <br />
      <label for="question5_d">
        <input type="radio" name="question5" value="It only works on sorted data" id="question5_d">
        It only works on sorted data
      </label>
    </fieldset>
    <br />
    <fieldset>
      <legend>6. Why is binary search considered more efficient than simple search for large datasets? Use an example comparing both.</legend>
      <label for="question6">
        <textarea name="question6" id="question6" rows="4" cols="50" placeholder="Explain Your Answer"></textarea>
    </label>
    </fieldset>
    <br />
    <button type="submit">Submit</button>
  </form>

{% endblock %}



