{% extends 'base.html' %}

{% block title %}K-Nearest Neighbors Answers{% endblock %}

{% block content %}
  <h1>K-Nearest Neighbors Quiz Results</h1>
  <form action="/k_nearest_neighbors_quiz" method="get">
    <button type="submit">Retake Quiz</button>
  </form>

  {% for question, user_answer in user_answers.items() %}
    <fieldset>
      <legend>Question {{ loop.index }}</legend>
      <p>Your Answer: {{ user_answer }}</p>
      <p> Correct Answer: <strong>{{ k_nearest_neighbors_answers[question] }}</strong></p>
    </fieldset>
  {% endfor %}
{% endblock %}

