{% extends 'base.html' %}

{% block title %}Quicksort{% endblock %}

{% block content %}
  <form action="/submit_quicksort_quiz" method="post">
    <fieldset>
      <legend>1. What is the primary concept behind the Quicksort algorithm?</legend>
      <label for="question1_a">
        <input type="radio" name="question1" value="A" id="question1_a">A. Repeatedly merging sorted subarrays
      </label>
      <br />
      <label for="question1_b">
        <input type="radio" name="question1" value="B" id="question1_b">B. Swapping adjacent elements to sort the array
      </label>
      <br />
      <label for="question1_c">
        <input type="radio" name="question1" value="C" id="question1_c">C. Dividing the array using a pivot and sorting the partitions recursively
      </label>
      <br />
      <label for="question1">
        <input type="radio" name="question1" value="D" id="question1_d">D. Finding the smallest element and placing it in its correct position
      </label>
    </fieldset>

    <fieldset>
      <legend>2. What is the average time complexity of Quicksort?</legend>
      <label for="question2_a">
        <input type="radio" name="question2" value="A" id="question2_a">A. O(n)
      </label>
      <br />
      <label for="question2_b">
        <input type="radio" name="question2" value="B" id="question2_b">B. O(n log n)
      </label>
      <br />
      <label for="question2_c">
        <input type="radio" name="question2" value="C" id="question2_c">C. O(n²)
      </label>
      <br />
      <label for="question2_d">
        <input type="radio" name="question2" value="D" id="question2_d">D. O(log n)
      </label>
    </fieldset>

    <fieldset>
      <legend>3. Which scenario could lead to the worst-case time complexity in Quicksort?</legend>
      <label for="question3_a">
        <input type="radio" name="question3" value="A" id="question3_a">A. The pivot is always chosen as the middle element
      </label>
      <br />
      <label for="question3_b">
        <input type="radio" name="question3" value="B" id="question3_b">B. The pivot divides the array into nearly equal parts
      </label>
      <br />
      <label for="question3_c">
        <input type="radio" name="question3" value="C" id="question3_c">C. The pivot is always the smallest or largest element
      </label>
      <br />
      <label for="question3_d">
        <input type="radio" name="question3" value="D" id="question3_d">D. The array contains all unique elements
      </label>
    </fieldset>
  
    <fieldset>
      <legend>4. Explain how Quicksort works using the array [8, 3, 1, 7, 0, 10, 2]. Show the partitions 
        and the pivot selections for one complete iteration.
      </legend>
      <label for="question4">
        <input type="text" name="question4" value="Explain Answer" id="question4" onfocus="this.value = ''">
      </label>
    </fieldset>
  
    <fieldset>
      <legend>5. How does the choice of pivot affect Quicksort's performance, and what strategies can be 
        used to improve pivot selection?
      </legend>
      <label for="question5">
        <input type="text" name="question5" value="Enter Answer" id="question5" onfocus="this.value = ''"> 
      </label>
    </fieldset>
    
    <button type="submit">Submit</button>
  </form>

{% endblock %}