{% extends "base.html" %}

{% block title %}Selection Sort{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto px-2">
  <h1 class="text-4xl text-center font-bold dark:text-white mb-8">
    Selection Sort
  </h1>

  <form action="/selection_sort_results" method="post">
    <!-- Question # 1 -->
    <fieldset class="mt-8">
      <legend class="mb-4 font-semibold text-base text-gray-900 dark:text-white">
        1. What is the main idea behind selection sort?
      </legend>

      <ul class="w-full max-w-md text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question1_a" class="flex items-center space-x-2">
              <input type="radio" name="question1" value="Recursively divide the list into smaller sublists" id="question1_a">
              <span>Recursively divide the list into smaller sublists</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question1_b" class="flex items-center space-x-2">
              <input type="radio" name="question1" value="Select the largest item and place it at the beginning" id="question1_b">
              <span>Select the largest item and place it at the beginning</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question1_c" class="flex items-center space-x-2">
              <input type="radio" name="question1" value="Swap each item with its neighbor" id="question1_c">
              <span>Swap each item with its neighbor</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question1_d" class="flex items-center space-x-2">
              <input type="radio" name="question1" value="Use a pivot to partition the array into two parts" id="question1_d">
              <span>Use a pivot to partition the array into two parts</span>
            </label>
          </div>
        </li>
      </ul>
    </fieldset>
  
    <!-- Question # 2 -->
    <fieldset class="mt-8">
      <legend class="mb-4 font-semibold text-base text-gray-900 dark:text-white">
        2. What is the time complexity of selection sort?
      </legend>

      <ul class="w-full max-w-md text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question2_a" class="flex items-center space-x-2">
              <input type="radio" name="question2" value="O(n)" id="question2_a">
              <span>O(n)</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question2_b" class="flex items-center space-x-2">
              <input type="radio" name="question2" value="O(log n)" id="question2_b">
              <span>O(log n)</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question2_c" class="flex items-center space-x-2">
              <input type="radio" name="question2" value="O(n²)" id="question2_c">
              <span>O(n²)</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question2_d" class="flex items-center space-x-2">
              <input type="radio" name="question2" value="O(n log n)" id="question2_d">
              <span>O(n log n)</span>
            </label>
          </div>
        </li>
      </ul>      
    </fieldset>

    <!-- Question # 3 -->
    <fieldset class="mt-8">
      <legend class="mb-4 font-semibold text-base text-gray-900 dark:text-white">
        3. How many comparisons are made in selection sort for a list of n elements (in the worst case)?
      </legend>
      
      <ul class="w-full max-w-md text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question3_a" class="flex items-center space-x-2">
              <input type="radio" name="question3" value="n" id="question3_a">
              <span>n</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question3_b" class="flex items-center space-x-2">
              <input type="radio" name="question3" value="n log n" id="question3_b">
              <span>n log n</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question3_c" class="flex items-center space-x-2">
              <input type="radio" name="question3" value="n(n - 1)/2" id="question3_c">
              <span>n(n - 1)/2</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question3_d" class="flex items-center space-x-2">
              <input type="radio" name="question3" value="n²" id="question3_d">
              <span> n²</span>
            </label>
          </div>
        </li>
      </ul>     
    </fieldset>
  
    <!-- Question # 4 -->
    <fieldset class="mt-8">
      <legend class="mb-4 font-semibold text-base text-gray-900 dark:text-white">
        4. Which of the following best describes the process of selection sort?
      </legend>

      <ul class="w-full max-w-md text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question4_a" class="flex items-center space-x-2">
              <input type="radio" name="question4" value="A divide-and-conquer algorithm that uses recursion" id="question4_a">
              <span>A divide-and-conquer algorithm that uses recursion</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question4_b" class="flex items-center space-x-2">
              <input type="radio" name="question4" value="An in-place algorithm that selects the minimum and swaps it" id="question4_b">
              <span>An in-place algorithm that selects the minimum and swaps it</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question4_a" class="flex items-center space-x-2">
              <input type="radio" name="question4" value="An algorithm that requires an auxiliary data structure like a heap" id="question4_a">
              <span>An algorithm that requires an auxiliary data structure like a heap</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question4_a" class="flex items-center space-x-2">
              <input type="radio" name="question4" value="A randomized algorithm that selects a pivot" id="question4_a">
              <span>A randomized algorithm that selects a pivot</span>
            </label>
          </div>
        </li>
      </ul>
    </fieldset>

    <!-- Question # 5 -->
    <fieldset class="mt-8">
      <legend class="mb-4 font-semibold text-base text-gray-900 dark:text-white">
        5. Why is selection sort generally slower than more advanced sorting algorithms?
      </legend>

      <ul class="w-full max-w-md text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question5_a" class="flex items-center space-x-2">
              <input type="radio" name="question5" value="It uses too much memory" id="question5_a">
              <span>It uses too much memory</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question5_b" class="flex items-center space-x-2">
              <input type="radio" name="question5" value="It makes unnecessary recursive calls" id="question5_b">
              <span>It makes unnecessary recursive calls</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question5_c" class="flex items-center space-x-2">
              <input type="radio" name="question5" value="It performs the same number of comparisons regardless of list order" id="question5_c">
              <span>It performs the same number of comparisons regardless of list order</span>
            </label>
          </div>
        </li>
        <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center ps-3">
            <label for="question5_d" class="flex items-center space-x-2">
              <input type="radio" name="question5" value="It only works on sorted lists" id="question5_d">
              <span>It only works on sorted lists</span>
            </label>
          </div>
        </li>
      </ul>
    </fieldset>

    <!-- Question # 6 -->
    <fieldset class="mt-8">
      <legend class="mb-4 font-semibold text-base text-gray-900 dark:text-white">
        6. Selection sort always performs the same number of comparisons, even if the list is already sorted. 
        Why is this a disadvantage compared to other sorting algorithms? Provide an example to support your answer.
      </legend>

      <label for="question6" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        <textarea name="question6" id="question6" rows="4" cols="50" class="block p-2.5 text-sm text-gray-900 bg-gray-50 resize-x rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Explain Your Answer">
        </textarea>
      </label>
    </fieldset>
    
    <div class="text-center m-4">
      <button type="submit" class="mt-2 text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
        Submit
      </button>
    </div>
  </form>
</div>

{% endblock %}