{% extends 'base.html' %}

{% block title %}Selection Sort{% endblock %}

{% block content %}
  <h1>Selection Sort</h1>
  <form action="/selectionsort" method="post">
    <fieldset>
      <legend>1. What is the primary concept behind selection sort?</legend>
      <label for="">
        <input type="radio" name="question1" value="option1"> A. Repeatedly swap adjacent elements until sorted
      </label>
      <br />
      <label for="">
        <input type="radio" name="question1" value="option2"> B. Divide the array into two halves and merge them
      </label>
      <br />
      <label for="">
        <input type="radio" name="question1" value="option3"> C. Find the smallest (or largest) element and place it in the correct position
      </label>
      <br />
      <label for="">
        <input type="radio" name="question1" value="option4"> D. Use a pivot to partition the array into two parts
      </label>
    </fieldset>
  
    <fieldset>
      <legend>2. What is the time complexity of selection sort in the worst-case scenario?</legend>
      <label for="">
        <input type="radio" name="question2" value="option1"> A. O(n)
      </label>
      <br />
      <label for="">
        <input type="radio" name="question2" value="option2"> B. O(n log n)
      </label>
      <br />
      <label for="">
        <input type="radio" name="question2" value="option3"> C. O(n²)
      </label>
      <br />
      <label for="">
        <input type="radio" name="question2" value="option4"> D. O(1)
      </label>
    </fieldset>

    <fieldset>
      <legend>3. In which scenario would selection sort be an inefficient choice compared to other sorting algorithms?</legend>
      <label for="">
        <input type="radio" name="question1" value="option1"> A. Sorting a nearly sorted array
      </label>
      <br />
      <label for="">
        <input type="radio" name="question2" value="option2"> B. Sorting a large dataset
      </label>
      <br />
      <label for="">
        <input type="radio" name="question3" value="option3"> C. Sorting a small array of random numbers
      </label>
      <br />
      <label for="">
        <input type="radio" name="question4" value="option4"> D. Sorting a list with many duplicate values
      </label>
    </fieldset>
  
    <fieldset>
      <legend>4. Explain how selection sort works using the array [29, 10, 14, 37, 13]. Show each step.</legend>
      <label for="">
        <input type="text" name="question3" value="Enter Answer"> 
      </label>
    </fieldset>

    <fieldset>
      <legend>5. Why does selection sort have a space complexity of O(1), and how does this compare to other sorting algorithms like merge sort?</legend>
      <label for="">
        <input type="text" name="question3" value="Enter Answer"> 
      </label>
    </fieldset>
    
    <button type="submit">Submit</button>
    </form>

{% endblock %}